@import "./partials/normilize.scss";
@import "./partials/variables.scss";
@import "./partials/pageTransition.scss";

@import "../views/Menu/menu.styles.scss";

body {
    background-color: #0a192f;
    font-family: "Ubuntu", sans-serif;
}

#root {
    display: flex;
}

#main_section{
    max-width: 80%;
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    margin: 50px auto;
}
