@import "./partials/normilize.scss";
@import "./partials/variables.scss";
@import "./partials/pageTransition.scss";

@import "../views/Menu/menu.styles.scss";

body {
    background-color: #204478;
    font-family: "Ubuntu", sans-serif;
}
section {
    width: 100%;
}
#root {
    display: flex;
}

#main_section{
    max-width: 80%;
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    margin: 50px auto;
}
h1,h2,h3{
    margin: $spaceBetweenSections 0;
}
h1{
    font-size: 30px;
    color: #6495ED;
}

h2{
    font-size: 40px;
    color: #ccd6f6;
    margin: 0;
}

h3{
    font-size: 24px;
    color: #ccd6f6;
}

h4{
    color: lightgray;
    margin: 12px 0;
}

p{
    color: white;
    line-height: 150%;
}

.action_button{
    background-color: transparent;
    transition: .5s all;
    border: 1px solid $borderColor;
    border-radius: 5px;
    a{
        transition: 1s all;
        display: inline-block;
        text-decoration: none;
        padding: 10px 20px;
        color: $lightGrey;
    }
    &:hover{
        background-color: white;
        border-color: inherit;
        // transform: scale(1.1);
        a{
            color: $mainColor;
        }
    }
}

.flex_content{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}