@import "./partials/normilize.scss";
@import "./partials/variables.scss";
@import "./partials/pageTransition.scss";

@import "../views/Menu/menu.styles.scss";

body {
    background-color: #080F2b;
    font-family: "Ubuntu", sans-serif;
    // background: rgb(2,0,36);
    // background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(56,93,207,1) 71%, rgba(0,212,255,1) 100%);
}
section {
    width: 100%;
}
#root {
    display: flex;
    min-height: 100vh;
}

#main_section {
    max-width: 80%;
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    margin: 50px auto;
}
h1,
h2,
h3 {
    margin: $spaceBetweenSections 0;
}
h1 {
    font-size: 30px;
    color: $mainFontColor;
}

h2 {
    font-size: 40px;
    color: $secondaryFontColor;
    margin: 0;
}

h3 {
    font-size: 24px;
    color: $secondaryFontColor;
}

h4 {
    color: $mainFontColor;
    margin: 12px 0;
}

p {
    color: $secondaryFontColor;
    line-height: 150%;
}

.action_button {
    background-color: transparent;
    transition: 0.5s all;
    border: 1px solid $secondaryFontColor;
    border-radius: 25px;
    a {
        transition: .5s all;
        display: inline-block;
        text-decoration: none;
        padding: 10px 20px;
        color: $mainFontColor;
    }
    &:hover {
        background-color: $buttonHoverColor;
        // border-color: inherit;
        // transform: scale(1.1);
        a {
            color: $secondaryFontColor;
        }
    }
}

.flex_content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

$lineColor: white;
$dotSize: 5px;
$animationDuration: 1s;
%separatorStyle {
    position: absolute;
    background-color: $lineColor;
    bottom: 0;
    left: 45%;
    height: 2px;
    transform: translate(-50%, -50%);
    transition: 0.5s;
}
.start_separator {
    width: 0%;
    @extend %separatorStyle;
    .bracket {
        &:after {
            transform: rotate(0deg);
        }
        &:before {
            transform: rotate(0deg);
        }
        &.right_bracket {
            right: -50px;
            top: 50%;
            transform: rotate(180deg);
            transform-origin: 0px 1px;
        }
    }
}

.separator {
    width: 60%;
    @extend %separatorStyle;
    .dot {
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
        background-color: $secondaryFontColor;
        border-radius: 15px;
        width: $dotSize;
        height: $dotSize;
        animation: dotSizeAnim $animationDuration;
        &.left_dot {
            left: -15px;
        }
        &.right_dot {
            right: -20px;
        }
    }
    .bracket {
        position: absolute;
        top: 50%;
        background-color: $secondaryFontColor;
        transition: $animationDuration all;
        &::after,
        &::before {
            content: " ";
            transition: $animationDuration all;
            position: absolute;
            width: 20px;
            height: 2px;
            background-color: $secondaryFontColor;
            border-radius: 5px;
            transform-origin: 0 0;
            animation-duration: $animationDuration;
        }
        &:after {
            animation-name: bracketAnimAfter;
            transform: rotate(-35deg);
        }
        &:before {
            animation-name: bracketAnimBefore;
            transform: rotate(35deg);
        }
        &.left_bracket {
            left: -50px;
        }
        &.right_bracket {
            right: -50px;
            top: 50%;
            transform: rotate(180deg);
            transform-origin: 0px 1px;
        }
    }
}

// animation
@keyframes dotSizeAnim {
    0% {
        width: 0;
        height: 0;
    }
    50% {
        width: 0;
        height: 0;
    }
    100% {
        width: $dotSize;
        height: $dotSize;
    }
}

@keyframes bracketAnimBefore {
    0% {
        height: 0;
        width: 0;
        transform: rotate(0deg);
    }
    50% {
        height: 2px;
        width: 20px;
        transform: rotate(0deg);
    }
    100% {
        height: 2px;
        width: 20px;

        transform: rotate(35deg);
    }
}

@keyframes bracketAnimAfter {
    0% {
        height: 0;
        width: 0;
        transform: rotate(0deg);
    }
    50% {
        height: 2px;
        width: 20px;
        transform: rotate(0deg);
    }
    100% {
        height: 2px;
        width: 20px;
        transform: rotate(-35deg);
    }
}


// ███╗   ███╗ ██████╗ ██████╗ ██╗██╗     ███████╗
// ████╗ ████║██╔═══██╗██╔══██╗██║██║     ██╔════╝
// ██╔████╔██║██║   ██║██████╔╝██║██║     █████╗  
// ██║╚██╔╝██║██║   ██║██╔══██╗██║██║     ██╔══╝  
// ██║ ╚═╝ ██║╚██████╔╝██████╔╝██║███████╗███████╗
// ╚═╝     ╚═╝ ╚═════╝ ╚═════╝ ╚═╝╚══════╝╚══════╝
                                               

@media screen and (max-width: $mobileBreakpoint) {
    #main_section {
        max-width: 90%;
    }
}