@import "../../globalStyles/partials/variables.scss";

.work_element {
    position: relative;
    display: grid;
    grid-template-columns: 2fr 6fr;
    column-gap: 30px;
    padding: $separatorSpace 0;
    h3,
    h4,
    h5 {
        margin: 10px 0;
    }
    h4 {
        font-style: italic;
    }
    h5 {
        font-size: 14px;
        color: $mainFontColor;
    }
    h6 {
        margin: 0;
        font-size: 20px;
        color: $mainFontColor;
    }
}

article:last-of-type {
    .separator {
        display: none;
    }
}

.tech_stack_list {
    display: flex;
    gap: 25px;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding: 0;
    margin-bottom: 40px;
    li {
        list-style: none;
        color: $mainFontColor;
        font-size: 16px;
        transition: 0.5s all;
        &:hover {
            transform: scale(1.2);
            color: $secondaryFontColor;
        }
    }
}

.resposibilities_list {
    list-style-type: none;
    li {
        color: $techElementsColor;
        line-height: 160%;
        &:before {
            content: "\2022";
            font-weight: bold;
            display: inline-block;
            width: 10px;
            margin-right: 15px;
            color: $secondaryFontColor;
        }
    }
}

@media screen and (max-width: $mobileBreakpoint) {
    $listFontSize: 14px;
    .work_element{
        display: flex;
        flex-direction: column;
        gap: $spaceBetweenSections;
        padding: $mobileSeparatorSpace 0;
        h6{
            color: $secondaryFontColor;
            font-size: 18px;
        }
    }
    .tech_stack_list{
        gap: 10px;
        margin-bottom: $spaceBetweenSections;
        li{
            font-size: $listFontSize;
            &:hover{
                transform: scale(1);
            }
        }
    }
    .resposibilities_list{
        padding: 0;
        text-align: left;
        li{
            line-height: 140%;
            padding: 5px 0;
            font-size: $listFontSize;
            &::before{
                margin-right: 5px;
            }
        }
    }
}