
nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0px;
    height: 100%;
    min-height: 100vh;
    background-color: rgba(35, 42, 107, 0.7);
    z-index: 1;
    a {
        padding: 10px 20px 10px 40px;
        width: auto;
        white-space: nowrap;
        transition: 1s all;
        color: white;
        text-decoration: none;
        position: relative;
        &:after{
            content: " ";
            position: absolute;
            bottom: 0;
            left: 0;
            height: 2px;
            width: 0%;
            background-color: white;
            transition: .5s ease-in-out;
        }
        &:hover,
        &.active {
            background-color: rgba(35, 42, 107, 1);
            &:after{
                width: 100%;
            }
        }
    }
}
