$borderColor: white;
$mainColor: #0a192f;
$lightGrey: #8892b0;
$lightPurple: #ccd6f6;
$techElementsColor: white;

$mainFontColor: #f3f4f4;
$secondaryFontColor: #12e1b9;
$buttonHoverColor: rgba(255,255,255, .2);
// margins
$spaceBetweenSections: 24px;
$separatorSpace: 60px